@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kosugi Maru', sans-serif;
  transition: 0.75s;
}

body{
  background-color: var(--plainBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

:root{
  --plainBackground: #232323;
  --bigBackground: #F2F8F8;
  --buttonFontColor:white;
  --completeCorrect: #53e485;
  --semiCorrect: #efde45;
  --wrong: #6b7378;
  --wrongFontColor: #C4CED8;
  --enterBackground: #639999;
  --defaultFont: black;
  --borderRadius: 20px;
  --svgColor: green;
  --backButtonBC:#95CACA;
  --timerFontColor: #343434;
  --emptyInputBGColor: #C4CED8;
  --defaultButtonBGColor: #C4CED8;
  --activeInputBlockBGColor: #454545;

}

.round{
  border-radius: var(--borderRadius);
}
