<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./highscore.css">
</head>
<body>
	<main>
		<section class="leaderboard">
			<h2>Leaderboard</h2>
			<table id="scoreBoard" cellspacing = "0">			
				<tr>
			  	<th id="rankColumn">Rank</th>
			  	<th id="nameColumn">Name</th>
			 	<th id="timeColumn">Time</th>
				</tr>

				<tr>
					<td>1</td>
					<td>User 1</td>
					<td>05:00</td>
				</tr>
				<tr>
					<td>2</td>
					<td>User 2</td>
					<td>05:00</td>
				</tr>
				<tr>
					<td>3</td>
					<td>User 3</td>
					<td>05:00</td>
				</tr>
				<tr>
					<td>4</td>
					<td>User 4</td>
					<td>05:00</td>
				</tr>
				<tr>
					<td>5</td>
					<td>User 5</td>
					<td>05:00</td>
				</tr>
				
				<tr id="userRow">
					<td>#</td>
					<td>Your name</td>
					<td>Your time</td>
				</tr>
				
			</section>
			</table>

		  </section>
		 <!-- 
		<section>
			<button id="backButton">Back</button>
		</section>	
		   --> 	  
	</main>
</body>
<script src="./highscorePage.js"></script>
</html>