<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./highscore.css">
</head>
<body>
	<main>
		<section class="highscore">
			<h2>High Scores</h2>
			<ul id="scoreBoard">
			  <li><span>1.</span> Player 1 - 500</li>
			  <li><span>2.</span> Player 2 - 400</li>
			  <li><span>3.</span> Player 3 - 300</li>
			  <li><span>4.</span> Player 4 - 200</li>
			  <li><span>5.</span> Player 5 - 100</li>
			</ul>
		  </section>
		  <section>
			<button id="backButton">Back</button>
		  </section>
		  
	</main>
</body>
<script src="./highscorePage.js"></script>
</html>