<!DOCTYPE html>
<html>
<head>
	<title>Wordle!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="Howtoplay.css">
	<link rel="stylesheet" href="allStyles.css">
	<!-- <script src="gameUI.js" type="module" defer></script> -->
	<script src="./gameMain.js" type="module" defer></script>
	<script src="./keyboardKey.js" defer></script>
</head>
<body>
    <article class="boxes">
        <p class="green-box">C</p>
        
        <p class="green-box">O</p>
        
        <p class="green-box">N</p>
        
        <p class="green-box">C</p>
        
        <p class="green-box">H</p>
    </article>
</body>
</html>