:root {
  --colorToggleSVG: url("lightModeIcon.svg");
  --soundToggleSVG: url("soundOn.svg");
  --wordleLogo: url("wordleLogoLightMode.svg")
}

body{
  background-color: #232323;
  color: var(--defaultFont);
}

#mainHolder {
  background-color: var(--bigBackground);
  aspect-ratio: 0.55;
  display: grid;
  grid-template-rows: 2fr 1fr 7fr 1fr 3fr;
  margin: 1vw;
  grid-template-columns: 2fr 8fr 2fr; 
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 2;
  background-image: var(--wordleLogo);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.functionButtons {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  width: 100%;
  height: 100%;
  border: none;
}

#colorToggle {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 1;
  background-image: var(--colorToggleSVG);
}

#timeCount{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  color: var(--timerFontColor);
}

#displayBoard{
  display: grid;
  width: 92%;
  height: 100%;
  grid-column: 1/4;
  grid-row: 3;
  margin: 0 4%;
  gap: 1vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.smallRound{
  border-radius: 2vh;
}

.gridItem{
  display: block;
  background-color: var(--emptyInputBGColor);
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #mainHolder {
    width: 95vw;
  }
  #displayBoard{
    gap: 2vw;
  }
}

@media only screen and (min-width: 600px) {
  #mainHolder {
    height: 95vh;
  }
  #displayBoard{
    gap: 1vh;
  }
}